.pill {
    margin-top: 10px;
    .search-container {
        input {
            width: 300px;
            height: 40px;
            &:hover {
                outline: none !important;
            }
            &:focus-visible  {
                outline: none !important;
            }
        }
        .search-menu {
            text-align: right;
            background-color: #fff;
            width: 300px;
            max-height: 150px;
            overflow-y: scroll;
            li {
                padding: 5px 10px;
                border-bottom: 1px solid rgba(239, 239, 239, 0.912);
                cursor: pointer;
                &:hover, &.active {
                    background-color: #6d8cd5;
                    color: #fff;
                }
            }
        }
    }
    .items-menu {
        .names {
            li {
                width: 20%;
                text-align: center;
            }
        }
        .items {
            max-height: 378px;
            overflow-y: scroll;
            li {
                width: 100%;
                p {
                    width: 20%;
                    text-align: center;
                }
            }
        }
    }
}